@import "fonts";
* {
    margin: 0;
    padding: 0;
    font-family: 'reem kufi';
}

body {
    .parallax {
        /* The image used */
        background-image: url('../media/fondo_1.png');
        /* Full height */
        height: 1000px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        header {
            display: flex;
            justify-content: space-around;
            padding-top: 2%;
            .marcaHeader {
                color: $mainRed;
                font-size: 200%;
            }
            nav {
                width: 30%;
                ul {
                    display: flex;
                    height: 100%;
                    justify-content: space-around;
                    align-items: center;
                    li {
                        list-style-type: none;
                        a {
                            color: white;
                            text-decoration: none;
                            font-size: 150%;
                        }
                    }
                }
            }
        }
        h1 {
            margin-top: 20%;
            color: $mainRed;
            font-size: 400%;
        }
        h5 {
            color: white;
            font-size: 200%;
            font-family: roboto;
            font-weight: lighter;
        }
        span {
            color: white;
        }
    }
    .about {
        height: 800px;
        background-color: $secondaryBlue;
        display: flex;
        padding-top: 10%;
        padding-bottom: 10%;
        .ab-imagen {
            flex-basis: 50%;
            display: flex;
            justify-content: center;
            img {
                height: 500px;
                width: auto;
                border: 5px solid;
            }
        }
        .ab-contenido {
            flex-basis: 50%;
            padding: 0% 15% 0% 5%;
            color: white;
            .ab-contenido-titulo {
                hr {
                    width: 130px;
                    color: $mainRed;
                    height: 2px;
                }
            }
            .ab-contenido-info {
                display: flex;
                margin-top: 10%;
                border: 1px solid;
                border-color: $mainRed;
                border-radius: 1%;
                padding: 3%;
                height: 40%;
                gap: 100px;
                .info-left {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 50%;
                    justify-content: space-around;
                    word-spacing: 5px;
                    p {
                        margin: 0;
                    }
                }
                .info-rigth {
                    display: flex;
                    flex-direction: column;
                    flex-basis: 50%;
                    justify-content: space-around;
                    word-spacing: 5px;
                    p {
                        margin: 0;
                    }
                }
            }
            .btn-descargar {
                margin-top: 10%;
                .link-descargar {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
    .servicios {
        background-color: $mainBlue;
        color: white;
        padding: 5%;
        .se-contenido-titulo {
            hr {
                width: 130px;
                color: $mainRed;
                height: 2px;
            }
        }
        .se-contenido {
            display: flex;
            justify-content: space-around;
            margin-top: 5%;
            gap: 10%;
            .card {
                background-color: $mainBlue;
                height: 30%;
                border-color: $mainRed;
                min-height: 300px;
                .card-body {
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                    max-width: 500px;
                }
                img {
                    width: 20%;
                    height: auto;
                }
            }
        }
        .collapse {
            .contenedorCards {
                display: flex;
                justify-content: space-around;
                margin-top: 5%;
                gap: 10%;
                .card {
                    background-color: $mainBlue;
                    height: 30%;
                    border-color: $mainRed;
                    min-height: 300px;
                    .card-body {
                        display: flex;
                        justify-content: space-around;
                        flex-direction: column;
                        max-width: 500px;
                    }
                    img {
                        width: 20%;
                        height: auto;
                    }
                }
            }
        }
        .btn-verMas {
            align-items: center;
            margin: 5% 0% 0% 45%;
        }
    }
    .parallax-division {
        /* The image used */
        background-image: url('../media/fondo_1.png');
        /* Full height */
        height: 150px;
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .portfolio {
        background-color: $secondaryBlue;
        padding: 5%;
        color: white;
        .port-titulo {
            hr {
                width: 130px;
                color: $mainRed;
                height: 2px;
            }
        }
        .items {
            display: flex;
            gap: 10%;
            overflow-x: hidden;
            flex-wrap: nowrap;
            margin-top: 5%;
            .card {
                background-color: $secondaryBlue;
                height: 30%;
                width: 500px;
                border-color: $mainRed;
                min-height: 550px;
                min-width: 600px;
                padding: 0.5%;
                .card-body {
                    display: flex;
                    justify-content: space-around;
                    flex-direction: column;
                }
                .btn {
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .skills {
        background-color: $mainBlue;
        padding: 5%;
        display: flex;
        flex-wrap: wrap;
        height: 700px;
        .skills-titulo {
            h2 {
                color: $white;
            }
            hr {
                width: 130px;
                color: $mainRed;
                height: 2px;
            }
        }
        .skills-flex {
            display: flex;
            flex-wrap: wrap;
            height: 500px;
            gap: 100px;
            padding-top: 5%;
            div {
                height: 300px;
                width: 150px;
                border: solid 1px;
                border-radius: 2%;
                border-color: $mainRed;
                p {
                    color: $white;
                    text-align: center;
                    margin-top: 10px;
                }
            }
        }
    }
    footer {
        background-color: $secondaryBlue;
        height: 70px;
        color: $mainRed;
        text-align: center;
        display: flex;
        justify-content: space-around;
        .marcaHeader {
            color: $mainRed;
            font-size: 200%;
            margin-top: 15px;
            span {
                color: $white;
            }
        }
        .redes {
            display: flex;
            gap: 50px;
            margin-top: 15px;
            a {
                img {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }
}